@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="/Hospitals">Лікарні</a>
    <a href="/Departments">Відділення</a>
    <a href="/Personals">Персонал</a>
</div>
